Package: linux-libc-dev
Source: linux-5.10.158-bt
Version: 5.10.158-bt-101
Architecture: amd64
Maintainer: evaluador <evaluador@debian>
Installed-Size: 5905
Provides: linux-kernel-headers
Section: devel
Priority: optional
Multi-Arch: same
Homepage: https://www.kernel.org/
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
